@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#root {
  margin: 0 ;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
*{
  box-sizing: border-box !important;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Font */

body{
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

/***************** Custom Clerk UI  ******************/

.cl-footerAction , .cl-internal-1dauvpw, .cl-footer{
  display: none;
}

.cl-card , .cl-rootBox , .cl-cardBox {
  border: none;
  background: none;
  outline: none;
  padding:0;
  width: 100%;
  text-align: start;
}
.cl-internal-x0fvpz{
  margin-bottom: 30px;
  text-align: start;
}

.cl-internal-kjqg39{
  margin-bottom: 15px;
  color: white;
}
.cl-headerSubtitle{
  color: #92A4C9;
  margin-bottom: 7px;
}

.cl-formFieldLabel{
  color:white;
  padding-bottom: 5px;
}

.cl-formFieldInput{
  background-color: #111722;
  color: white;
}

.cl-formFieldInput::placeholder {
  color: #92A4C9;
}

.cl-formButtonPrimary{
  background-color: #135BEC;
}


/***************** Hero Page  ******************/
#hero{
  background-image: url('./assets/hero_bg_overlay.png');
  background-size: cover;
  background-repeat: no-repeat;
}